<%- include ("../partilas/admin") %>

    <section class="content-main">
        <form method="post" action="/admin/editProduct" id="form" enctype="multipart/form-data">

            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>

                    </div>
                </div>


                <div class="col-lg-6" style="width: 100%;">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="btn btn-danger" onclick="deleteProduct('<%= products._id %>')">
                                Delete
                            </div>
                            <div class="mb-4">
                                <label for="product_title" class="form-label">Product Id</label>
                                <input type="text" name="productId" placeholder="Type here" onblur="validateId()"
                                    class="form-control" id="product_id" value="<%= products.productId %>">
                                <p id="productError" class="text-danger "></p>
                            </div>
                            <div class="mb-4">
                                <label for="product_title" class="form-label">product Name</label>
                                <input type="text" name="productName" placeholder="Type here" onblur="validateTittle()"
                                    class="form-control" id="product_title" value="<%= products.productName %>">
                                <p id="productTitleError" class="text-danger "></p>
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">Color</label>
                                    <input type="text" value="<%= products.color %>" placeholder="Type here"
                                        name="color" onblur="validateColor()" class="form-control" id="product_color">
                                    <p id="productColorError" class="text-danger "></p>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="sizeS" class="form-label">Size S:</label>
                                    <input type="number" id="sizeS" name="sizeS" class="form-control" value="<%= products.size[0].quantity %>" required placeholder="Enter the quantity">
                                </div>
                                
                                <div class="col-md-4 mb-3">
                                    <label for="sizeM" class="form-label">Size M:</label>
                                    <input type="number" id="sizeM" name="sizeM" class="form-control" value="<%= products.size[1].quantity %>" required placeholder="Enter the quantity">
                                </div>
                                
                                <div class="col-md-4 mb-3">
                                    <label for="sizeL" class="form-label">Size L:</label>
                                    <input type="number" id="sizeL" name="sizeL" class="form-control"  value="<%= products.size[2].quantity %>" required placeholder="Enter the quantity">
                                </div>
                                
                                <div class="col-md-4 mb-3">
                                    <label for="sizeXL" class="form-label">Size XL:</label>
                                    <input type="number" id="sizeXL" name="sizeXL" class="form-control"  value="<%= products.size[3].quantity %>" required placeholder="Enter the quantity">
                                </div>
                                <!-- <div class="col-md-4 mb-3">
                                    <label for="product_size" class="form-label">Size</label>
                                    <select name="size" class="form-control" id="product_size">
                                        <option value="Small">Small</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Large">Large</option>
                                        <option value="Extra-Large">Extra-Large</option>
                                    </select>
                                    <p id="productSizeError" class="text-danger"></p>
                                </div>


                                <div class="col-md-4  mb-3">
                                    <label for="product_size" class="form-label">quantity</label>
                                    <input type="number" placeholder="Type here" onblur="validateQuantity()"
                                        name="quantity" class="form-control" id="product_quantity"
                                        value="">
                                    <p id="productQuantityError" class="text-danger "></p>
                                </div> -->
                                <div class="mb-4" style="width:20%;">
                                    <label class="form-label">Price</label>
                                    <input type="number" value="<%= products.price %>" name="price"
                                        placeholder="Type here" onblur="validatePrice()" class="form-control"
                                        id="product_price">
                                    <p id="productPriceError" class="text-danger "></p>
                                </div>
                                <div class="mb-4" style="width:20%;">
                                    <label class="form-label">Selling price</label>
                                    <input type="number" value="<%= products.sellingPrice %>" name="sellingPrice"
                                        onchange="validateSellingPrice()" placeholder="Type here" class="form-control"
                                        id="sellingPrice">
                                    <p id="sellingPriceError" class="text-danger "></p>
                                </div>
                                <input type="hidden" name="id" value="<%= products._id %>">
                                <div class="mb-4">
                                    <label class="form-label">category</label>
                                    <select class="form-select" name="categories">

                                        <% for( let i=0; i < categories.length; i++ ) { %>
                                            <option value="<%=categories[i]._id %>">
                                                <%= categories[i].categoryTitle %>
                                            </option>


                                            <% } %>



                                    </select>
                                </div>
                            </div>

                        </div>
                    </div> <!-- card end// -->



                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Description</label>
                                <input type="text" name="description" placeholder="Type here"
                                    onblur="validateDescription()" class="form-control" id="product_Description"
                                    rows="4" value="<%= products.description %>">
                                <p id="productDescriptionError" class="text-danger "></p>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <% for (let i=0; i < products.image.length; i++) { %>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <div class="col-12">
                                                <td> <img class="rounded" style="width: 50px; height: 60px;"
                                                        src="/uploads/products/<%= products.image[i] %>" alt="image">
                                                </td>
                                            </div>
                                            <td><a
                                                  class="btn btn-danger" onclick="deleteImage('<%=products._id %>','<%= products.image[i] %>')"><span
                                                       >Delete</span></a></td>
                                        </div>

                                    </div> <!-- col.// -->
                                    <% } %>
                                        <label class="form-label">Images</label>
                                        <input class="form-control" name="images" type="file" id="Images" multiple>
                                        <p id="productImageError" class="text-danger "></p>

                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                        <input type="submit" value="update" class="btn btn-success">
                        <p id="submitError" class="text-danger error"></p>
                    </div>
                    <!-- card end// -->
                </div>

        </form>
    </section>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

   <script>
  const productId = document.getElementById("product_id")
        const product_title = document.getElementById("product_title")
        const product_color = document.getElementById("product_color")
        const size = document.getElementsByClassName("size")


        const product_Description = document.getElementById("product_Description")
        const productPrice = document.getElementById("product_price")
        const sellingPrice = document.getElementById("sellingPrice")
        const productError = document.getElementById("productError")
        const productTitleError = document.getElementById("productTitleError")
        const productColorError = document.getElementById("productColorError")
        const sizeError = document.getElementsByClassName("sizeError")
        const productDescriptionError = document.getElementById("productDescriptionError")
        const productPriceError = document.getElementById("productPriceError")
        const sellingPriceError = document.getElementById("sellingPriceError")

        console.log("entered")
        function validateId() {
            productvalue = productId.value.trim()
            if (productvalue == "") {
                productError.innerHTML = "product id is required"
                productError.style.display = "block"
            } else if (productvalue.length > 15) {
                productError.innerHTML = "Enter a valid id"
                productError.style.display = "block"
            } else {
                productError.innerHTML = ""
                productError.style.display = "none"
            }
        }

        function validateTittle() {
            const productName = product_title.value.trim()
            if (productName == "") {
                productTitleError.style.display = "block"
                productTitleError.innerHTML = "product Name must be required"
            } else if (productName.length > 30) {
                productTitleError.style.display = "block"
                productTitleError.innerHTML = "product Name must be short"
            } else {
                productTitleError.innerHTML = ""
                productTitleError.style.display = "none"
            }
        }

        function validateColor() {
            const color = product_color.value.trim()
            if (color == '') {
                productColorError.style.display = "block"
                productColorError.innerHTML = "this flied must be required"
            } else if (color.length > 20) {
                productColorError.style.display = "block"
                productColorError.innerHTML = "color must valid"
            } else {
                productColorError.style.display = "none"
                productColorError.innerHTML = ""
            }
        }

        function validateDescription() {
            const description = product_Description.value.trim()
            if (description == "") {
                productDescriptionError.style.display = "block"
                productDescriptionError.innerHTML = "Product Description must be required"
            } else if (description.length < 10) {
                productDescriptionError.style.display = "block"
                productDescriptionError.innerHTML = "Product Description is short"
            } else {
                productDescriptionError.style.display = "none"
                productDescriptionError.innerHTML = ""
            }
        }
        function validatePrice() {
            const price = productPrice.value.trim();
            if (price === "") {
                productPriceError.style.display = "block";
                productPriceError.innerHTML = "Invalid price 1";
            } else if (price < 0) {
                productPriceError.style.display = "block";

                productPriceError.innerHTML = "Invalid price 2";
            } else {
                productPriceError.style.display = "none";
                productPriceError.innerHTML = "";


            }
        }




        function validateSellingPrice() {

            const price = productPrice.value.trim();
            selling = sellingPrice.value.trim()


            if (selling == "") {
                sellingPriceError.style.display = "block"
                sellingPriceError.innerHTML = "its must be required!"
            }
            else if (selling > price) {

                sellingPriceError.style.display = "block"
                sellingPriceError.innerHTML = "INvalid price1!"
            } else if (selling < 0) {

                sellingPriceError.style.display = "block"
                sellingPriceError.innerHTML = "INvalid price3!"
            }
            else {

                sellingPriceError.style.display = "none"
                sellingPriceError.innerHTML = ""
            }
        }


        document.getElementById("form").addEventListener("submit", (e) => {
            console.log("val")

            validateId()

            validateTittle()

            validateColor()

            validatePrice()


            validateDescription()

            validateSellingPrice()




            if (productError.innerHTML || productTitleError.innerHTML || productColorError.innerHTML || productPriceError.innerHTML || productDescriptionError.innerHTML || sellingPriceError.innerHTML) {

                e.preventDefault();
            } else {
                alert("form else")


            }
        });

       

        function deleteProduct(productID) {
            console.log(productID)
            swal({
                title: "delete product",
                text: "are you sure for delete the product",
                icon: "warning"
            }).then((value) => {
                if (value) {
                    window.location.href = `/admin/blockProducts/${productID}`
                }

            })
        }

        function deleteImage(productID,imageId){
            alert(productID)
            swal({
                title: "are you sure",
                text: "are you sure for delete the image",
                icon: "warning", 
                buttons: true,
  dangerMode: true,
            }).then ((value)=>{
              if(value){
                console.log(productID+"from here");
                $.ajax({
                    url:'/admin/deleteImage',
                    method:"post",
                    data:{
                        productId:productID,
                        imageId:imageId
                    },success(response){
                        if(response.status){

                            window.location.reload()
                        }else{
                            alert('error')
                        }
                    }
                })
              }
            })

        }


    </script>