<%- include ("../partilas/admin") %>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products Offer</h2>
        </div>
    </div>
    <div class="row">
        <% if (locals.allProduct) { %>
        <% allProduct.forEach(product => { %>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card card-product-grid">
                <a href="#" class="img-wrap"> <img src="../../uploads/products/<%= product.image[0] %>" alt="Product"> </a>
                <div class="info-wrap">
                    <div class="dropdown float-end">
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">Edit info</a>
                            <a class="dropdown-item text-danger" href="#">Delete</a>
                        </div>
                    </div>
                    <a href="#" class="title"><%= product.productName %></a>
                    <div class="price-labels">
                        <label for="regular-price">Regular Price:</label>
                        <div id="regular-price" class="price mt-1">RS <%= product.price %></div>
                    </div>
                    <div class="price-labels">
                        <label for="selling-price">Selling Price:</label>
                        
                    </div>
                    <input type="number" class="offer-input mt-5 mb-10" data-product-id="<%= product.id %>" value="<%= product.sellingPrice %>">
                    <button class="btn btn-primary activate-offer" data-product-id="<%= product.id %>">Activate New Price</button>
                </div>
            </div>
            
        </div>
        <% }) %>
        <% } %>
    </div>
    <div class="pagination-area mt-15 mb-50 ">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              
                <% for(let i = 1; i <= totalPage; i++) { %>
                    <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                    
                         
                            <a class="page-link" href="/admin/product-Offer?page=<%= i %>"><%= i %></a>
                        
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</section>
<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script>
                document.write(new Date().getFullYear())
            </script> ©, Evara - HTML Ecommerce Template .
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">
                All rights reserved
            </div>
        </div>
    </div>
</footer>
</main>
<script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="assets/js/vendors/select2.min.js"></script>
<script src="assets/js/vendors/perfect-scrollbar.js"></script>
<script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
<!-- Main Script -->
<script src="assets/js/main.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@latest"></script>
<script>
   $(document).ready(function () {
    // Activate Offer Button Click Event
    $('.activate-offer').click(function () {
        var productId = $(this).data('product-id');
        var offerPrice = $(this).siblings('.offer-input').val();
        // AJAX Call to update product price
        
        $.ajax({
            url: '/admin/product-offer', 
            method: 'POST',
            data: {
                productId: productId,
                offerPrice: offerPrice
            },
            success: function (response) {
                // Handle success response
                if (response.status == true) {
                    Swal.fire({
                        title: "<span style='color: red;'>Offer Applied</span>",
                        html: "<span style='color: blue;'>Your offer has been applied</span>",
                        icon: "success",
                        timer: 2000,
                        showConfirmButton: false
                    });
                 
                }else if(response.message=="Invalid input"){
                
                    Swal.fire({
                    title: "<span style='color: red;'>Error</span>",
                    html: "<span style='color: blue;'>Invalid price </span>",
                    icon: "error",
                    timer: 2000,
                    showConfirmButton: false
                });
                setTimeout(() => {
                    window.location.reload()
                }, 2000);
                }else if(response.message=="Offer price should not exceed regular price"){
                    Swal.fire({
                    title: "<span style='color: red;'>Error</span>",
                    html: "<span style='color: blue;'>Offer price should not exceed regular price</span>",
                    icon: "error",
                    timer: 2000,
                    showConfirmButton: false
                });
                setTimeout(() => {
                    window.location.reload()
                }, 2000);
                
                }else if(response.message=="maximum offer exceed you have to limit(500) fo regular price"){
                    Swal.fire({
                    title: "<span style='color: red;'>Error</span>",
                    html: "<span style='color: blue;'>maximum offer exceed you have to limit(60%) fo regular price</span>",
                    icon: "error",
                    timer: 2000,
                    showConfirmButton: false
                });
                setTimeout(() => {
                    window.location.reload()
                }, 2000);
                }
                
            },
            error: function (xhr, status, error) {
              
                alert(xhr.responseText)
                Swal.fire({
                    title: "<span style='color: red;'>Error</span>",
                    html: "<span style='color: blue;'>server error</span>",
                    icon: "error",
                    timer: 2000,
                    showConfirmButton: false
                });
            }
        });
    });
});

</script>
</body>
</html>
