<%- include ("../partilas/admin") -%>
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">User list</h2>
            <!-- <div>
                    <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
                </div> -->
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control">
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <select class="form-select">
                            <option>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                            <option>Show all</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <select class="form-select">
                            <option>Show 20</option>
                            <option>Show 30</option>
                            <option>Show 40</option>
                        </select>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="text-center">
                            <tr>
                                <th>UserName</th>
                                <th>Email</th>
                                <th>Mobile</th>

                                <th class="p-15">Action</th>

                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <% if (users && users.length> 0) { %>
                                <% for (let i=0; i < users.length; i++) { %>
                                    <tr>
                                        <td width="40%">
                                            <p class="mb-0 title">
                                                <%= users[i].username %>
                                            </p>
                                        </td>
                                        <td width="40%">
                                            <p>
                                                <%= users[i].email %>
                                            </p>
                                        </td>
                                        <td width="40%">
                                            <p>
                                                <%= users[i].mobile %>
                                            </p>
                                        </td>



                                        <td>
                                            <% if (users[i].is_block===false) { %>
                                        <td class="text-end">
                                            <a onclick="userBlockUnblock('<%= users[i]._id %>', 'blockUser')"
                                                class="btn rounded font-sm mt-15 btn-danger"
                                                id="block_<%= users[i]._id %>">Block</a>
                                        </td>
                                        <% } else { %>
                                            <td class="text-end">
                                                <a onclick="userBlockUnblock('<%= users[i]._id %>', 'unblockUser')"
                                                    class="btn rounded font-sm  btn-success"
                                                    id="block_<%= users[i]._id %>">Unblock</a>
                                            </td>
                                            <% } %>

                                    </tr>
                                    <% } %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="4">No users found.</td>
                                            </tr>
                                            <% } %>

                        </tbody>
                    </table> <!-- table-responsive.// -->
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i
                                class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>
    </main>
    <script src="/asset/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/asset/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/asset/js/vendors/select2.min.js"></script>
    <script src="/asset/js/vendors/perfect-scrollbar.js"></script>
    <script src="/asset/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/asset/js/main.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function userBlockUnblock(userId, status) {
      $.ajax({
                url: "/admin/block_user",
                method: "post",
                data: {
                    userId: userId,
                    status: status
                },
                success: (response) => {
                    if (response.status === true) {
                        // not working with out reload
                        location.reload()
                    } else {
                        alert("error")
                    }
                }
            })
        }




    </script>
    </body>

    </html>