<%- include ("../partilas/userheader") -%>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                </li>
                                <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer &
                                        Office</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer
                                        Electronics</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother &
                                        Kids</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="index.html">Home</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="shop-grid-right.html">shop</a>
                                <ul class="dropdown">
                                    <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                    <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                    <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                    <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                    <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Single Product</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                            <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                            <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-filter.html">Shop – Filter</a></li>
                                    <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                    <li><a href="shop-cart.html">Shop – Cart</a></li>
                                    <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                    <li><a href="shop-compare.html">Shop – Compare</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega
                                    menu</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Women's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Dresses</a></li>
                                            <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                            <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                            <li><a href="shop-product-right.html">Women's Sets</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Men's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Jackets</a></li>
                                            <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                            <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Technology</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                            <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                            <li><a href="shop-product-right.html">Tablets</a></li>
                                            <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                            <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="blog-category-fullwidth.html">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                    <li><a href="blog-category-list.html">Blog Category List</a></li>
                                    <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                    <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Single Product Layout</a>
                                        <ul class="dropdown">
                                            <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                            <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-account.html">My Account</a></li>
                                    <li><a href="page-login-register.html">login/register</a></li>
                                    <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                    <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="page-terms.html">Terms of Service</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <a href="/shop"> <span></span> Shop</a>
                    <a href="/checkout"><span></span> Checkout</a>
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <!-- <div class="row">
                    <div class="col-lg-6 mb-sm-15">
                        <div class="toggle_info">
                            <span><i class="fi-rs-user mr-10"></i><span class="text-muted">Already have an account?</span> <a href="#loginform" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to login</a></span>
                        </div>
                        <div class="panel-collapse collapse login_form" id="loginform">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" name="email" placeholder="Username Or Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="login_footer form-group">
                                        <div class="chek-form">
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="checkbox" id="remember" value="">
                                                <label class="form-check-label" for="remember"><span>Remember me</span></label>
                                            </div>
                                        </div>
                                        <a href="#">Forgot password?</a>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-md" name="login">Log in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="toggle_info">
                            <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                        </div>
                        <div class="panel-collapse collapse coupon_form " id="coupon">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" placeholder="Enter Coupon Code...">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn  btn-md" name="login">Apply Coupon</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>
                <h1 class="text-center " style="margin-bottom: 20px;">Checkout </h1>
                <div class="col-md-6" style=" width: 100%;">
                    <div class="order_review">
                        <div class="mb-20">
                            <h4>View order details</h4>
                        </div>
                        <div class="table-responsive order_table text-center">
                            <table class="table">
                                <% if (userCart && userCart.items.length>0) { %>
                                    <tr>
                                        <th colspan="2">Product</th>
                                        <th>Total</th>
                                        <th>remove</th>
                                    </tr>



                                    <thead>

                                    </thead>
                                    <% for( let i=0; i < userCart.items.length; i++ ) { %>
                                        <tbody>

                                            <tr>
                                                <td class="image product-thumbnail"><img
                                                        src="/uploads/products/<%= userCart.items[i].productId.image[0] %>"
                                                        alt="#"></td>
                                                <td>
                                                    <h5><a href="shop-product-full.html">
                                                            <%= userCart.items[i].productId.productName %>
                                                        </a></h5>
                                                    <p>
                                                        <%= userCart.items[i].productId.categoryId.categoryTitle %>
                                                    </p>
                                                    <span class="product-qty">quantity x <%= userCart.items[i].quantity
                                                            %></span>
                                                    <br>

                                                    <span class="product-size">size: <%= userCart.items[i].size%></span>
                                                </td>

                                                <td>
                                                    <%= userCart.items[i].subTotal %>
                                                </td>
                                                <td class="action" data-title="Remove">
                                                    <a onclick="removeItem('<%= userCart.items[i]._id %>')"
                                                        class="text-muted"><i class="fi-rs-trash"></i>
                                                </td>
                                            </tr>



                                            <% } %>
                                                <tr>
                                                    <th>SubTotal</th>
                                                    <td class="product-subtotal" colspan="3">
                                                        <%= userCart.total %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Shipping</th>
                                                    <td colspan="3"><em>Free Shipping</em></td>
                                                </tr>
                                                <tr>
                                                    <th>Discount</th>
                                                    <td colspan="3" id="discountAmount"><em>0</em></td>
                                                </tr>
                                                <tr>
                                                    <th>Total</th>
                                                    <td colspan="3" class="product-subtotal"><span
                                                            class="font-xl text-brand fw-900" id="orderTotal">
                                                            <%=userCart.total%>
                                                        </span></td>
                                                </tr>
                                                <% } else { %>
                                                    <tr> No items in Cart Keep <a href="/shop" class="btn">Shop</a></tr>
                                                    <% } %>


                                        </tbody>
                            </table>
                        </div>
                        <div>
                            <p class="mt-10" id="show">coupon available?</p>
                            <div class="mb-30 mt-50">
                                <div class="heading_s1 mb-3">
                                    <h4>Apply Coupon</h4>
                                </div>
                                <% if (coupons&&coupons.length>0) { %>
                                    <% for( let i=0; i < coupons.length; i++ ) { %>

                                        <div class="hidden" style="display: none;">
                                            <div class="right">
                                                <div class="coupon">

                                                    <div class="form-row row justify-content-center">
                                                        <div class="form-group col-lg-6">
                                                            <input class="font-medium" name="Coupon"
                                                                placeholder="Enter Your Coupon"
                                                                value="<%= coupons[i].couponCode%>" readonly>
                                                            <p>T&C(maximumDiscount:<%= coupons[i].couponDiscount %>% or
                                                                    RS:<%= coupons[i].maximumDiscount %>)</p>
                                                        </div>
                                                        <div class="form-group col-lg-6">
                                                            <button class="btn btn-sm" class="fi-rs-label mr-10"
                                                                id="apply<%=i%>" style="display: inline-block;"
                                                                onclick="applyCoupon('<%=coupons[i]._id%>','<%=coupons[i].couponDiscount%>','<%=coupons[i].maximumDiscount%>','<%=i%>')">Apply</button>
                                                            <button class="btn btn-danger" id="remove<%=i%>"
                                                                style="display: none;"
                                                                onclick="removeCoupon('<%=coupons[i]._id%>','<%=coupons[i].couponDiscount%>','<%=coupons[i].maximumDiscount%>','<%=i%>')">Remove</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <% } %>


                                <% } else { %>
                                    No coupons available
                                    <% } %>

                        </div>
                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                        <div class="payment_method">
                            <div class="mb-25">
                                <h5>Payment</h5>
                            </div>
                            <div class="payment_option">
                                <!-- <div class="custome-radio">
                                    <input class="form-check-input" required="" type="radio" name="payment_option"
                                        id="exampleRadios3" checked="">
                                    <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse"
                                        data-target="#bankTranfer" aria-controls="bankTranfer">Direct Bank
                                        Transfer</label>
                                    <div class="form-group collapse in" id="bankTranfer">
                                        <p class="text-muted mt-5">There are many variations of passages of Lorem
                                            Ipsum available, but the majority have suffered alteration. </p>
                                    </div>
                                </div> -->
                                <div class="custome-radio">
                                    <div class="custome-radio">
                                        <input class="form-check-input payment" type="radio" value="cod"
                                            name="selectedPayment" id="CashOnDelivey">
                                        <label class="form-check-label" for="CashOnDelivey" data-bs-toggle="collapse"
                                            data-target="#CashOnDelivey" aria-controls="CashOnDelivey">Cash on
                                            Delivery</label>

                                    </div>
                                </div>
                                <div class="custome-radio">
                                    <div class="custome-radio">
                                        <input class="form-check-input payment" type="radio" value="razorPay"
                                            name="selectedPayment" id="razorPay">
                                        <label class="form-check-label" for="razorPay" data-bs-toggle="collapse"
                                            data-target="#razorPay" aria-controls="razorPay">Online Payment
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-fill-out btn-block mt-30" id="placeOrderButton"
                            style=" display: flex;margin-left: 25%; border-radius: 10px;
                            justify-content: center; width: 50%; font-size:larger;">Place
                            Order</button>
                    </div>
                </div>
                <!-- <div class="row"> -->
                <div class="container">
                    <a href="/addAddress" class="btn mt-10">New Address</a>
             
                <div class="row">
                    <% if (userAddress) { %>
                        <% for (let i=0; i < userAddress.length; i++) { %>
                            <div class="col-lg-6 mt-50">
                                <div class="card mb-3 mb-lg-0">
                                    <div class="card-header ">
                                        <h5 class="mb-0 ">
                                            <%= userAddress[i].addressType %> Address
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <p style="font-weight: bold;">
                                            <%= userAddress[i].name %>
                                        </p>
                                        <address>
                                            <%= userAddress[i].address %>, <br>
                                                <%= userAddress[i].locality %>,<br>
                                                    <%= userAddress[i].district %>, <br>
                                                        <%= userAddress[i].state %>, <br>
                                                            <%= userAddress[i].alternatePhone %>, <br>
                                                                <%= userAddress[i].pinCode %>
                                        </address>
                                        <p>
                                            <%= userAddress[i].state %>
                                        </p>
                                        <a href="/addressEdit?addressId=<%= userAddress[i]._id %>"
                                            class="btn-small">Edit</a>
                                        <div>
                                            <% if (userAddress[i].default==true) { %>
                                                <label for="address_<%= userAddress[i]._id %>">Select Address</label>
                                                <input type="radio" id="address_<%= userAddress[i]._id %>"
                                                    name="selectedAddress" value="<%= userAddress[i]._id %>" checked="">
                                                <% } else { %>
                                                    <label for="address_<%= userAddress[i]._id %>">Select
                                                        Address</label>
                                                    <input type="radio" id="address_<%= userAddress[i]._id %>"
                                                        name="selectedAddress" value="<%= userAddress[i]._id %>">
                                                    <% } %>



                                        </div>
                                    </div>
                                </div>





                            </div>
                            <% } %>
                                <% } %>
                </div>
            </div>
            </div>



            </div>
            </div>
        </section>
    </main>
    <%- include ("../partilas/userfooter") -%>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@latest"></script>

        <script>
            couponApplied = false
            couponId=[]
            
            const discountAmount = document.getElementById("discountAmount");
            const orderTotal = document.getElementById("orderTotal");
            const subTotal=orderTotal.innerHTML
   

            /////////////////////////////////////accessing local storage value/////////////////////////////////

            document.addEventListener("DOMContentLoaded", function () {
                console.log(couponId,"its coupon id");
                const data = localStorage.getItem("coupon")
                coupon_data = JSON.parse(data);
                if (localStorage.getItem("coupon")) {
                    if (coupon_data.maximumDiscountValue) {
                        discountAmount.innerHTML = coupon_data.maximumDiscountValue
                        orderTotal.innerText = orderTotal.innerHTML - coupon_data.maximumDiscountValue
                    } else {
                        discountAmount.innerHTML = coupon_data.Discount
                        orderTotal.innerText = orderTotal.innerHTML - coupon_data.Discount
                    }
                    document.getElementById("remove" + coupon_data.index).style.display = "inline-block"
                    document.getElementById("apply" + coupon_data.index).style.display = "none"
                    couponApplied = true
                    return
                }
            })


            ////////////////////////////////////////COUPON AVAILABLE CHECKING////////////////////////////////////////

            document.getElementById("show").addEventListener("click", () => {
                var coupons = document.querySelectorAll('.hidden');
                coupons.forEach(section => {
                    if (section.style.display === "none" || section.style.display === "") {
                        section.style.display = "block";
                    } else {
                        section.style.display = "none";
                    }
                });
            });



            //////////////////////////////////// PALACE ORDER///////////////////////////////////////////
            document.getElementById("placeOrderButton").addEventListener("click",async () => {
    let id; 
    if(localStorage.getItem("coupon")){
        const couponData = localStorage.getItem("coupon");
        const couponId = JSON.parse(couponData);
        id = couponId.id; 
    }
    const userCartId = "<%= userCart._id %>";
    if (userCartId && id){
        const totalAmount=orderTotal.innerHTML.trim()
      
        $.ajax({
            url:"/applycoupon",
            method:'post',
            data:{
                couponId:id
            },success:((response)=>{
                if(response.status=="Coupon is not listed"){
                    Swal.fire({
                        title: "<span style='color: red;'> Coupon is invalid</span>",
                        html: "<span style='color: Black;'>Sorry you applied coupon is not valid or its not active now</span>",
                        icon: "warning",
                        timer: 3000
                    });
                }else{
                    placeOrder(userCartId,totalAmount);
                }

            }),error:((error)=>{
                
            })

        })
        
     
    } else {
    
        const totalAmount=orderTotal.innerHTML.trim()
        placeOrder(userCartId,totalAmount);
    }
})
            //////////////////////////////////APPLYING COUPON////////////////////////////////////////////

            function applyCoupon(id, couponDiscount, maximumDiscount, index) {
                if (couponApplied == true) {
                    Swal.fire({
                        title: "<span style='color: red;'>Coupon Already applied</span>",
                        html: "<span style='color: Black;'>Sorry you have already applied one coupon if you want add more coupon please remove and add new one</span>",
                        icon: "warning",
                        timer: 3000
                    });
                    return
                }
                const total = parseInt(orderTotal.innerText);
                const couponDiscountValue = parseInt(couponDiscount);
                const Discount = Math.round((total * couponDiscountValue) / 100);
                const maximumDiscountValue = parseInt(maximumDiscount);
                if (Discount > maximumDiscountValue) {
                    orderTotal.innerText = total - maximumDiscountValue;
                    discountAmount.innerText = maximumDiscountValue;
                    const obj = { maximumDiscountValue, id, index }
                    localStorage.setItem('coupon', JSON.stringify(obj))
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top",
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: "success",
                        title: "Coupon Applied"
                    })
                    //////////////////UI CHANGING/////////////////

                    document.getElementById("remove" + index).style.display = "inline-block"
                    document.getElementById("apply" + index).style.display = "none"
                } else {
                    orderTotal.innerText = total - Discount;
                    discountAmount.innerText = Discount;
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top",
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: "success",
                        title: "Coupon Applied"
                    })
                    const obj = { Discount, id, index }
                    localStorage.setItem('coupon', JSON.stringify(obj))
                    ////////////////////////////UI CHANGING//////////////////////////
                    document.getElementById("remove" + index).style.display = "inline-block"
                    document.getElementById("apply" + index).style.display = "none"
                }
                couponApplied = true
                return
            }


            ////////////////////////////////////REMOVE COUPON ////////////////////////////////////////////////


            function removeCoupon(id, couponDiscount, maximumDiscount, index) {
                const total = parseInt(orderTotal.innerText)
                const couponDiscountValue = parseInt(couponDiscount)
                const maximumDiscountValue = parseInt(maximumDiscount)
                discountAmount.innerHTML = 0
                const Discount = Math.round((total * couponDiscountValue) / 100);
                if(Discount>maximumDiscountValue){
                    orderTotal.innerText = parseInt(subTotal) 
                    const Toast = Swal.mixin({
                            toast: true,
                            position: "top",
                            showConfirmButton: false,
                            timer: 2000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.onmouseenter = Swal.stopTimer;
                                toast.onmouseleave = Swal.resumeTimer;
                            }
                        });
                        Toast.fire({
                            icon: "success",
                            title: "Coupon Removed"
                        })
                      
                }else{
                   
                    orderTotal.innerText = parseInt(subTotal)
                    const Toast = Swal.mixin({
                            toast: true,
                            position: "top",
                            showConfirmButton: false,
                            timer: 2000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.onmouseenter = Swal.stopTimer;
                                toast.onmouseleave = Swal.resumeTimer;
                            }
                        });
                        Toast.fire({
                            icon: "success",
                            title: "Coupon Removed"
                        })
                }

                discountAmount.innerText = 0
                document.getElementById("remove" + index).style.display = "none"
                document.getElementById("apply" + index).style.display = "inline-block"
                couponApplied = false
                localStorage.removeItem('coupon');

            }


            //////////////////////////////PALACE ORDER MAIN FUNCTION  ///////////////////////////////////////

            function placeOrder(cartId,total) {
                const selectedAddress = document.querySelector('input[name="selectedAddress"]:checked');
                const selectedPayment = document.querySelector('input[name="selectedPayment"]:checked');
                if (selectedAddress == null) {

                    Swal.fire({
                        title: "<span style='color: red;'>Please select Address</span>",
                        html: "<span style='color: blue;'>For ordering, please select any valid address</span>",
                        icon: "warning",
                        timer: 2000
                    });
                    return
                }
                if (selectedPayment === null || selectedPayment === undefined) {
                    Swal.fire({
                        title: "<span style='color: red;'>Please select payment option</span>",
                        html: "<span style='color: blue;'>For ordering, please select a payment option</span>",
                        icon: "warning",
                        timer: 2000
                    });
                    return;
                }
                const paymentOption = selectedPayment.value;
                
                    if(total>5000 &&paymentOption=="cod"){
                        Swal.fire({
                                title: "<span style='color: red;'>Cash On Delivery NO Available</span>",
                                html: "<span style='color: BLACK;'>COD AVAILABLE ONLY RS  5000</span>",
                                icon: "error",
                                timer: 3000
                            });
                            return  
                    }
                   
               
                $.ajax({
                    url: "/placeOrder",
                    method: "post",
                    data: {
                        cartId: cartId,
                        total:total,
                        addressId: selectedAddress.value,
                        paymentOption: paymentOption
                    }, success: (response) => {
                        if (response.status == "invalid user") {

                            location.href = "/login"
                        } else if (response.status == "blocked product") {
                            Swal.fire({
                                title: "<span style='color: red;'>Error</span>",
                                html: "<span style='color: blue;'>We're sorry, but the product you're trying to order is currently unavailable.</span>",
                                icon: "error",
                                timer: 3000
                            });
                            setTimeout(() => {
                                location.href = "/shop"
                            }, 3100);
                        }
                        else if (response.status == "invalid product") {
                            Swal.fire({
                                title: "<span style='color: red;'>Product not available</span>",
                                html: "<span style='color: blue;'>Please consider exploring other products in our catalog</span>",
                                icon: "error",
                                timer: 3000
                            });
                            setTimeout(() => {
                                location.href = "/shop"
                            }, 3100);
                        }
                        else if (response.status == "out of stock") {
                            Swal.fire({
                                title: "<span style='color: red;'>Oops!</span>",
                                html: "<span style='color: blue;'>Out Of Stock,Please keep in touch with us</span>",
                                icon: "warning",
                                timer: 3000
                            });
                            setTimeout(() => {
                                location.href="/cart"
                            }, 3100);
                        } else if (response.status == "order placed") {
                            localStorage.removeItem('coupon');
                            couponApplied=false
                            Swal.fire({
                                title: "<span style='color: green;'>Order Placed</span>",
                                html: "<span style='color: blue;'>Our order have been Placed keep shop with us</span>",
                                icon: "success",
                                timer: 3000
                            });
                            setTimeout(() => {
                                location.href = "/orderSuccess"
                            }, 3100);
                        } else if (response.status = "razorPay") {
                            localStorage.removeItem('coupon');
                            couponApplied=false

                            razorPayPayment(response.generateRazor, response.user, response.userOrder, response.cartIdforPassing)
                        }
                        //     }else if(response.status=="empty_cart"){
                        //         Swal.fire({
                        //     title: "<span style='color: red;'>Cart is empty</span>",
                        //     html: "<span style='color: black;'>cart is empty keep shop</span>",
                        //     icon: "success",
                        //     timer: 3000
                        // });
                        //     }

                    },
                    error: (xhr, status, error) => {
                        console.error(xhr.responseText); // Log the error message to the console
                        Swal.fire({
                            title: "<span style='color: red;'>Error</span>",
                            html: "<span style='color: blue;'>An error occurred while placing the order</span>",
                            icon: "error",
                            timer: 2000
                        });
                    }
                });
            }


            ////////////////////////////////// RAZOR PAY INTEGRATION/////////////////////////////////////             

            function razorPayPayment(RazorPayOrderID, user, userOrder, cartId) {
                const amount = RazorPayOrderID.amount;
                const userOrderId = RazorPayOrderID.receipt;
                const razorPayOrderId = RazorPayOrderID.id;
                // alert(razorPayOrderId);
                // alert(amount);
                // alert(userOrderId);
                // alert(user);
                // alert(user.username);
                var options = {
                    "key": "rzp_test_SWPaqecbwGGJZa",
                    "amount": amount,
                    "currency": "INR",
                    "name": "Duck & Wave",
                    "description": "Test Transaction",
                    "image": "https://example.com/your_logo",
                    "order_id": razorPayOrderId,
                    "handler": function (response) {
                        $.ajax({
                            url: "/razorPayVerify",
                            method: "post",
                            data: {
                                response: response,
                                razorPayOrderId: razorPayOrderId,
                                userOrder: userOrder,
                                cartId: cartId
                            },
                            success: function (data) {
                                if (data.status) {

                                    location.href = "/orderSuccess"
                                } else {
                                    Swal.fire({
                                        title: "<span style='color: red;'>payment filed</span>",
                                        html: data.error,
                                        icon: "error",
                                        timer: 3000
                                    });
                                    setTimeout(() => {
                                        location.href = "/cart"
                                    }, 3100);
                                }
                            }
                            ,
                            error: function (error) {
                                console.error("Error in AJAX call");
                                console.error(error);
                                alert("Error");
                            }
                        });
                    },
                    "prefill": {
                        "name": user.username,
                        "email": user.userEmail,
                        "contact": user.mobile
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#095a40"
                    }
                };

                var rzp1 = new Razorpay(options);
                rzp1.on('payment.failed', function (response) {

                    // alert(response.error.code);
                    // alert(response.error.description);
                    // alert(response.error.source);
                    // alert(response.error.step);
                    // alert(response.error.reason);
                    // alert(response.error.metadata.order_id);
                    // alert(response.error.metadata.payment_id);

                    Swal.fire({
                        title: "<span style='color: red;'>payment filed</span>",
                        html: response.error.reason,
                        icon: "error",
                        timer: 3000
                    });
                });
                rzp1.open();
            }




            ////////////////////////REMOVE ORDER ITEM ////////////////////////////

            function removeItem(itemId) {
                Swal.fire({
                    title: "<span style='color: red;'>Are you Sure</span>",
                    html: "<span style='color: black;'>Do you want to remove this item</span>",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.value == true) {
                        $.ajax({
                            url: "/removeItem",
                            method: "get",
                            data: {
                                itemId: itemId,
                            }, success: (response) => {
                                if (response.status == true) {
                                    Swal.fire({
                                        title: "<span style='color: red;'>Removed</span>",
                                        html: "<span style='color: blue;'The item Has been Removed</span>",
                                        icon: "success",
                                        timer: 1000,
                                    });
                                }
                                setTimeout(() => {
                                    location.href = "/checkOut"
                                }, 1200);
                            }
                        })
                    }
                });
            }
        </script>