<%- include ("../partilas/userheader") -%>
<h1 class="main-heading p-5 text-center">Transaction History</h1>
<% if (wallet && wallet.transactions.length > 0) { %>
    <div class="table-responsive container m-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <% wallet.transactions.forEach(function(transaction) { %>
                    <tr>
                        <td><%= transaction.type %></td>
                        <td><%= transaction.description %></td>
                        <td>
                            <% if (transaction.type === 'Purchased') { %>
                                <span class="text-danger">- <%= transaction.amount %>  (debit) </span>
                            <% } else { %>
                                <span class="text-success">+ <%= transaction.amount %>  (credit)</span>
                            <% } %>
                        </td>
                        <td><%= transaction.createdAt.toLocaleString() %></td>
                    </tr>
                <% }); %>
                <tr>
                    <td> Wallet Balance</td>
                    <td colspan="3"><%= wallet.balance %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination-area mt-15 mb-sm-5 mb-lg-0 text-center"> <!-- Added text-center class -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center m-5 ">
    
                <% if (currentPage> 1) { %>
                    <li class="page-item">
                        <a class="page-link" href="/transactions?page=<%= currentPage - 1 %>"
                            aria-label="Previous">prev
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                <% } %>
    
                <% for (let i=1; i <=totalPage; i++) { %>
                    <li class="page-item <%= i == currentPage ? 'active' : '' %>">
                        <a class="page-link" href="/transactions?page=<%= i %>">
                            <%= i %>
                        </a>
                    </li>
                <% } %>
    
            </ul>
        </nav>
    </div>
    
<% } else { %>
    <p>No transactions found.</p>
<% } %>
<%- include ("../partilas/userfooter") -%>
